* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 320px 5fr;
    grid-template-rows: repeat(6, 1fr);
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.sidebar {
    background-color: #1992D4;
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 100%;
    padding: 25px;
    display: grid;
    align-items: center;
    align-content: flex-start;
    gap: 50px;
}

.main-content {
    grid-column: 2/ 3;
    grid-row: 2 / -1;
}

.sidebar div>img {
    height: 40px;
}

.sidebar div {
    font-size: 1.5rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 40px 145px;
    /* justify-items: center; */
    align-items: center;
    column-gap: 10px;
}

.sidebar li {
    display: grid;
    grid-template-columns: 40px 145px;
    align-items: center;
    font-weight: bold;
}

.sidebar ul {
    display: grid;
    gap: 10px;
}

li>img {
    height: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    padding: 15px 25px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 60% 1fr;
    box-shadow: 0px 60px 60px 30px black;
}

.header [type="search"] {
    border-radius: 17px;
    border-style: none;
    background-color: #E2E8F0;
    width: 100%;
    padding: 7px;
}

[src$='.jpg']:nth-child(2) {
    border-radius: 50%;
    height: auto;
    width: 50px;
}

[src$='.jpg']:first-child {
    border-radius: 50%;
    height: auto;
    width: 90px;
}

.header div:first-child {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 15px;
}

.header div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, min-content) 110px;
    align-items: center;
    justify-content: center;
    justify-items: end;
    gap: 50px;
}

.header div:nth-child(3) {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 18px;
}

.header div:nth-child(4) {
    height: 72px;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

[type=button] {
    background-color: #1992D4;
    color: white;
    padding: 8px 20px;
    border-style: none;
    border-radius: 17px;
    width: 80px;
}

article p:first-child {
    font-size: 13px;
}

article p:nth-child(2) {
    font-size: 30px;
}

.main-content {
    background-color: #E2E8F0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 360px;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 30px;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.announcements {
    grid-column: 2 / 3;
}

.card {
    background-color: white;
    width: 370px;
    height: 250px;
    padding: 40px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    background-image: linear-gradient(to right,
    #F0B429 3%, white 3% 40%);
}

.card p {
    font-weight: bolder;
    font-size: 18px;
}

.card article {
    margin-bottom: auto;
}

.card article+div {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}