html {
    box-sizing: border-box;
}

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 5fr;
    font-family: sans-serif;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr 35%;
    grid-template-rows: 1fr 1fr;
    padding: 0px 100px 0px 35px;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #1992D4;
    color: #FFFFFF;
}

.small-icon {
    border-radius: 50%;
    width: 60px;
    height: auto;
}

.mid-icon {
    border-radius: 50%;
    width: 80px;
    height: auto;
}

input {
    border-radius: 50px;
    height: 35px;
    background-color: #E2E8F0;
    border: none;
    padding: 10px 15px;
}

.header div:first-child {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
}

.header div:nth-child(2) {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: flex-end;
    gap: 30px;
}

.header div:nth-child(3) {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 18px;
    justify-content: flex-start;
}

.header div:last-child {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    justify-content: flex-end;
    gap: 30px;
}

.header > div {
    display: grid;
    align-items: center;
    justify-content: center;
}

.header button {
    background-color: #1992D4;
    color: #FFFFFF;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
}

.header button:hover {
    background-color: #5199F8;
}

.header button:active {
    color: red;
}

.header span {
    font-size: 1.5rem;
    font-weight: bolder;
}

[alt="bell-icon"] ~ p {
    font-weight: bolder;
    font-size: 1.1rem;
}

.sidebar {
    display: grid;
    align-content: flex-start;
    padding: 20px 0px 0px 25px;
    gap: 30px;
}

.sidebar ul li {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 25px;
    align-items: center;
}

.sidebar ul {
    display: grid;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

[alt="dashboard-icon"] {
    height: auto;
    width: 50px;
}

[alt="dashboard-icon"] + p {
    font-size: 30px;
    font-weight: bolder;
}

.sidebar a {
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.sidebar a:active {
    color: red;
    text-decoration: underline;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 370px;
    grid-template-rows: 30px 1fr 30px 1fr;
    background-color: #E2E8F0;
    padding-left: 20px;
    justify-content: flex-end;
    column-gap: 40px;
    row-gap: 20px;
    align-content: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    height: min-content;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.card {
    border-radius: 20px;
    height: auto;
    width: fit-content;
    background:  linear-gradient(90deg, #F0B429 12px , #FFFFFF 12px);
    padding: 40px 30px;
    display: grid;
    align-content: space-between;
    gap: 10px;
}

.card > div {
    margin-top: 30px;
    justify-self: flex-end;
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    align-self: flex-end;
}

.card p:first-child {
    font-weight: bold;
}

.main-content > p  {
    font-weight: bolder;
    font-size: x-large;
    display: grid;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}

.main-content > p:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.main-content > p:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content > p:last-child {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.announcements {
    padding: 20px;
    width: min-content;
    border-radius: 25px;
    background-color: #FFFFFF;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.announcements p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.announcements p:last-child {
    width: 280px;
    font-size: 1rem;
}

.trending {
    padding: 20px 30px;
    width: 320px;
    border-radius: 25px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    height: min-content;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}